@use "./color-variables";

$gradient-primary: linear-gradient(
  135deg,
  color-variables.$primary-color 0%,
  color-variables.$primary-dark-color 100%
);
$gradient-success: linear-gradient(
  135deg,
  color-variables.$success-color 0%,
  #1e8449 100%
);
$gradient-danger: linear-gradient(
  135deg,
  color-variables.$danger-color 0%,
  #c0392b 100%
);
